<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>디플메인</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">

    <script src="/script/jquery-3.7.0.min.js"></script>
    <script src="/script/action.js"></script>
    <script src="/script/skrollr.min.js"></script>
   
</head>
<body>
    <div class="progress" data-0="background:red" data-300="background:lime"></div>
    <header>
        <h1>
            <a href="#">
                <img src="/images/logo.svg" alt="">
            </a>
        </h1>

        <div class="loginbox">
            <a href="#">LOGIN</a>
            <a href="#">JOIN</a>
        </div>

        <nav>
            <ul class="gnb">
                <li>
                    <a href="#"><span>A</span>BOUT</a>
                </li>
                <li>
                    <a href="#"><span>S</span>ERVICE</a>
                </li>
                <li>
                    <a href="#"><span>B</span>ESTS</a>
                </li>
                <li>
                    <a href="#"><span>C</span>ONTENTS</a>
                </li>
                <li>
                    <a href="#"><span>Q</span>&amp;A</a>
                </li>
            </ul>
        </nav>
    </header>

    <div id="visual">
        <div class="purple_box">
            <div class="btn-3"><span><a href="#">GO TO SUBSCRIBE</a></span></div>
        </div>
        <div class="avatar_box">
            <figure><img src="images/visualavatar.png" alt=""></figure>
        </div>
    </div>

    <div id="section_box">
        <section id="section1">
            <h2>IN <span>DISNEY PLUS</span></h2>
            <ul class="cont1">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li data-800="transform:translateY(-200px); opacity:0"
                data-1000="transform:translateY(0px); opacity:1"></li>
                <li data-950="transform:translateY(-200px)"
                data-1150="transform:translateY(0px)"></li>
                <li data-800="opacity:0"
                data-1100="opacity:1"></li>
                <li></li>
                <li data-1000="opacity:0"
                data-1300="opacity:1"></li>
                <li></li>
                <li data-850="transform:translateY(-200px)"
                data-1100="transform:translateY(0px)"></li>
                <li></li>
                <li data-1100="opacity:0"
                data-1400="opacity:1"></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </section>
        <section id="section2">
            <h2><img src="images/disneylogowhite.png" alt=""></h2>
            <strong>새로운 감동과 가능성을<br>
                발견하는 것을 목표로 합니다.</strong>
            <p>디즈니+는 디즈니, 픽사, 마블, 스타워즈, 내셔널지오그래픽, STAR의 <br> 
                최고 콘텐츠들을 모두 한곳에 모아 제공합니다.</p>
            <ul class="count">
                <li>
                    <span class="num"  data-target="1200"><em></em></span>
                    <span class="title">영화</span>
                </li>
                <li>
                    <span class="num" data-target="20000"><em></em> </span>
                    <span class="title">에피소드</span>
                </li>
                <li>
                    <span class="num" data-target="9900"><em></em></span>
                    <span class="title">월 구독료</span>
                </li>
            </ul>
        </section>
        <section id="section3">
            <ul class="cont">
                <li>
                    <strong>1</strong>
                    <em>취향에 따라 골라보는 다양한 컨텐츠</em>
                    <p>디즈니, 픽사, 마블, 스타워즈, 내셔널지오그래픽, Star의 콘텐츠를 다 함께 즐겨보세요.
                        인기 영화, 몰아보기 시리즈, 독점 공개하는 오리지널까지, 원하는 만큼 볼 수 있습니다. 
                        완결 시리즈는 물론 오리지널 신작과 최신 히트작도 언제든지 시청하세요.
                        언제든지 시청가능하도록 원하는 시리즈를 선택하여 저장해보세요 .
                        어디서든, 언제든, 무엇이든, 즐길 수 있게 만들어 놨습니다.  </p>
                </li>
                <li class="second">
                    <strong>2</strong>
                    <em>최대 4대의 기기에서 동시 스트리밍</em>
                    <p>하나의 스트리밍 서비스로 모두가 각자 취향에 맞는 콘텐츠를 즐길 수 있습니다. 
                        원하는 기기에서 원하는 방식으로 시청하세요. 
                        최대 4대의 기기에서 동시 스트리밍하는 그 시간, 
                        모두가 행복해집니다.</p>
                </li>
                <li class="third">
                    <strong>3</strong>
                    <em>다양한 콘텐츠 마음껏 저장 가능</em>
                    <p>최대 10대의 기기에서 원하는 콘텐츠를 자유롭게 저장하세요. 
                        100편이 넘는 작품을 고화질 4K UHD 및 HDR로 시청할 수 있습니다.
                         강력한 시청 제한 기능으로 온 가족이 안전하게 이용할 수 있으며, 
                        서로 떨어져 있을 때에도 GroupWatch로 함께 스트리밍할 수 있습니다. </p>
                </li>
                <li class="four">
                    <strong>4</strong>
                    <em>어린이 전용 프로필 제작 가능</em>
                    <p>자기만의 공간에서 좋아하는 캐릭터와 즐기는 신나는 모험. 
                        자녀에게 이 특별한 경험을 선물하세요. 디즈니플러스 회원이라면 무료입니다.
                        어린이들의 희망과 꿈을 표현한 프로필로 각각의 개성을
                        맘껏 펼쳐보는 시간이 되길 바라며 만들었습니다.  </p>
                </li>
            </ul>
        </section>
        <section id="section4">
            <h2>
                SAVED CONTENTS
            </h2>
            <div class="cont_box">
                <ul class="cont">
                    <li>
                        <h3><img src="images/blackpantherlogo91.png" alt=""></h3>
                        <span class="action">ACTION :  BLACK PANTHER:WAKANDA FOREVER  : 2022</span>
                        <a href="#" class="watch"><span>WATCH NOW</span></a>
                        <a href="#" class="more"><span>MORE VIEW</span></a>
                    </li>
                    <li>
                        <h3><img src="images/blackpantherlogo91.png" alt=""></h3>
                        <span class="action">액션 :  블랙팬서:와칸다 포에버  : 2022</span>
                        <a href="#" class="watch"><span>지금 보러가기</span></a>
                        <a href="#" class="more"><span>다른 영화</span></a>
                    </li>
                    <li>
                        <h3><img src="images/blackpantherlogo91.png" alt=""></h3>
                        <span class="action">行动 :  
                            永远的黑豹瓦坎达  : 2022</span>
                        <a href="#" class="watch"><span>
                            现在观看</span></a>
                        <a href="#" class="more"><span>更多查看</span></a>
                    </li>
                    <li>
                        <h3><img src="images/blackpantherlogo91.png" alt=""></h3>
                        <span class="action">
                            アクション :  
                            ブラックパンサー ワカンダ永遠に  : 2022</span>
                        <a href="#" class="watch"><span>今見る</span></a>
                        <a href="#" class="more"><span>
                            もっと見る</span></a>
                    </li>
                    <li>
                        <h3><img src="images/blackpantherlogo91.png" alt=""></h3>
                        <span class="action">acción :  
                            pantera negra wakanda para siempre  : 2022</span>
                        <a href="#" class="watch"><span>ver ahora</span></a>
                        <a href="#" class="more"><span>
                            más ver</span></a>
                    </li>
                </ul>

                <div class="img_box">
                    <figure><img src="images/blackpantherblack.png" alt=""></figure>
                </div>
                <nav>
                    <ul>
                        <li class="on"><a href="#">ENGLISH-</a></li>
                        <li><a href="#">KOREAN-</a></li>
                        <li><a href="#">CHINESE-</a></li>
                        <li><a href="#">JAPANESE-</a></li>
                        <li><a href="#">SPANISH-</a></li>
                    </ul>
                </nav>
            </div>
        </section>
      

        <footer>
            <div class="address_box">
                <h1><img src="images/logo.svg" alt=""></h1>
                <span>서울특별시 강남구 테헤란로 152, 7층 (우편번호: 06236)</span><br>
                <span>+82-080-822-1416</span><br>
                <span>help@disneyplus.kr</span>
                <p>디즈니+의 콘텐츠는 서비스 여부에 따라 달라질 수 있습니다<br>
                    © 2022 Disney and its related entities. All Rights Reserved.</p>
            </div>
            
            <ul class="icon_box">
                <ul class="icons">
                    <li><a href="#"><img src="images/instaicon.png" alt=""></a></li>
                    <li><a href="#"><img src="images/facebookicon.png" alt=""></a></li>
                    <li><a href="#"><img src="images/youtubeicon.png" alt=""></a></li>
                </ul>
                <span class="promise">개인정보처리방침     서비스이용약관     마케팅동의</span>
            </ul>
        </footer> 


   
    <script type="text/javascript">
        var s = skrollr.init();
    </script>
</body>
</html>